/*
Font-Face - Poppins

Importowanie czcionki 'Poppins'. Używana głównie w projekcie jako podstawowa czcionka.Zawiera odnośnik do lokalnego pliku czcionki w formacie TTF.

Style guide: 1.0 - Font-Face
*/
@font-face {
  font-family: 'Poppins';
  src: url(font/Poppins-Medium.ttf);
}

/* 
Globalne Ustawienia Box

Ustawienie globalne box-sizing na border-box, które zmienia domyślne zachowanie box modelu w CSS.Dzięki temu szerokość i wysokość elementów zawiera padding i border. Ustawia Poppins jako domyślną czcionkę dla całej strony z zapasową sans-serif.

Style guide: 1.1 - Ustawienia Globalne
*/
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* 
Podstawowe Style dla Body i HTML

Resetuje domyślne marginesy i paddingi.

Markup:
<body>...</body>

Style guide: 1.2 - Resetowanie CSS
*/
body, html {
  margin: 0;
  padding: 0;
}


/* 
Klasa .navigation

Styl dla nawigacji. Ustawia nawigację jako element stały na górze strony.Zawiera podstawowe właściwości stylu i pozycjonowania.

Markup:
<div class="navigation">
  <ul>
    <li><a href="#">Strona Główna</a></li>
    <li class="icon"><a href="#"><i class="fi fi-rr-home"></i></a></li>
    <li><a href="aboutus.html">O Nas</a></li>
    <li class="icon"><a href="aboutus.html"><i class="fi fi-rr-info"></i></a></li>
    <li><a href="contactus.html">Skontauj się z Nami</a></li>
    <li class="icon"><a href="contactus.html"><i class="fi fi-rr-envelope"></i></a></li>
    <li><a href="gallery.html">Galeria</a></li>
    <li class="icon"><a href="gallery.html"><i class="fi fi-rr-picture"></i></a></li>
    <li><a href="quiz.html">Quiz</a></li>
    <li class="icon"><a href="quiz.html"><i class="fi fi-rr-interrogation"></i></a></li>
  </ul>
</div>

Style guide: 2.0 
*/
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: #333;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation  ul {
  list-style: none;
  padding: 0;
}

.navigation ul li {
  display: inline;
  margin: 10px;
  padding: 10px;
}

.navigation  ul li a {
  color: white;
  text-decoration: none;
}

.navigation  ul li a:hover {
  color: #ccc;
}

.navigation .icon {
  display: none;
}

main {
  min-height: calc(100vh - 4em);
  padding-top: 120px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}

/* 
Klasa .footer-style

Styl dla elementu <footer>. Definiuje tło, kolor tekstu, wyrównanie tekstu, padding oraz szerokość.

Markup:
<footer class="footer-style">
  <p>Copyright &copy; MotoBlog 2024 | <a href="privacypolicy.html">Polityka Prywatności</a></p>
  <p>UIcons by <a href="https://www.flaticon.com/uicons">Flaticon</a></p>
</footer>

Style guide: 3.0 
*/
.footer-style {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 10px;
  width: 100%;
  box-sizing: border-box;
}

.footer-style a {
  color: black;
  text-decoration: none;
}

.footer-style p {
  margin: 10px 0;
}

.footer-style .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0;
}

.footer-style .social-media a {
  display: block;
}

.footer-style .social-media a img {
  max-width: 100%;
  height: auto;
}

/* 
Klasa .popup

Styl dla wyskakującego okna typu 'popup'. Okno jest domyślnie ukryte (display: none) i pojawia się w pełnym oknie przeglądarki z ciemnym, półprzezroczystym tłem. Zawiera ustawienia pozycjonowania, rozmiaru oraz tła.

Markup:
<div id="popup" class="popup">
  <div class="popup-content">
    <span class="close">&times;</span>
    <h2>Zapisz się na nasz newsletter!</h2>
    <p>Dołącz do naszej pasjonującej społeczności miłośników motoryzacji! Zapisując się do naszego newslettera,
      otrzymasz regularne aktualizacje pełne fascynujących treści, które każdy fan czterech kółek pokocha. Od
      ekskluzywnych recenzji najnowszych modeli samochodów, przez zapowiedzi najgorętszych wydarzeń motoryzacyjnych, aż
      po praktyczne porady i ciekawostki ze świata motoryzacji – nasz newsletter to Twoje źródło informacji, które
      pozwoli Ci być zawsze o krok przed innymi. Zapisz się już teraz, aby nie przegapić żadnych nowości i dołączyć do
      grona entuzjastów, którzy dzielą Twoją pasję. To tylko jeden klik – zapisz się, aby każdy dzień był pełen
      motoryzacyjnych inspiracji!</p>
    <form id="newsletter-form">
      <div class="form-grid">
        <label for="email"></label>
        <input type="email" id="email" name="email" placeholder="Twój adres email" required>
        <input type="submit" value="Zapisz się">
      </div>
    </form>
  </div>
</div>

Style guide: 4.0 
*/
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: auto;
}

/* 
Klasa .popup-content

Styl dla zawartości okna popup. Ustawia tło, marginesy, padding, obramowanie oraz szerokość i wysokość. Zawartość jest wyśrodkowana w oknie popup.

Markup:
<div class="popup-content">
    <span class="close">&times;</span>
    <h2>Zapisz się na nasz newsletter!</h2>
    <p>Dołącz do naszej pasjonującej społeczności miłośników motoryzacji! Zapisując się do naszego newslettera,
      otrzymasz regularne aktualizacje pełne fascynujących treści, które każdy fan czterech kółek pokocha. Od
      ekskluzywnych recenzji najnowszych modeli samochodów, przez zapowiedzi najgorętszych wydarzeń motoryzacyjnych, aż
      po praktyczne porady i ciekawostki ze świata motoryzacji – nasz newsletter to Twoje źródło informacji, które
      pozwoli Ci być zawsze o krok przed innymi. Zapisz się już teraz, aby nie przegapić żadnych nowości i dołączyć do
      grona entuzjastów, którzy dzielą Twoją pasję. To tylko jeden klik – zapisz się, aby każdy dzień był pełen
      motoryzacyjnych inspiracji!</p>
    <form id="newsletter-form">
      <div class="form-grid">
        <label for="email"></label>
        <input type="email" id="email" name="email" placeholder="Twój adres email" required>
        <input type="submit" value="Zapisz się">
      </div>
    </form>
</div>

Style guide: 4.1 
*/
.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: auto;
}

/* 
Klasa .close

Styl dla przycisku zamykającego okno popup. Ustawia kolor, pozycjonowanie, rozmiar czcionki i wagi. Zawiera też styledla sanów :hover i :focus, zmieniając kolor tekstu i kursor na wskaźnik.

Markup:
<span class="close">&times;</span>

Style guide: 4.2 
*/
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* 
Klasa .newsletter-form .form-grid

Styl dla siatki formularza newslettera. Używa display: grid do stworzenia układu siatki. Zawiera definicję kolumn oraz odstępy między nimi.

Markup:
  <form class="newsletter-form">
    <div class="form-grid">
      <label for="email"></label>
      <input type="email" id="email" name="email" placeholder="Twój adres email" required>
      <input type="submit" value="Zapisz się">
    </div>
  </form>

Style guide: 5.0 
*/
.newsletter-form .form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

/* 
Klasa .newsletter-form input[type=email], .newsletter-form input[type=submit]

Styl dla pól wprowadzania e-maila i przycisku submit w formularzu newslettera. Ustawia szerokość na 100%, padding, margines oraz czcionkę Poppins.

Markup:
<input type="email" id="email" name="email" placeholder="Twój adres email" required>
<input type="submit" value="Zapisz się">

Style guide: 5.1 
*/
.newsletter-form input[type=email],
.newsletter-form input[type=submit] {
  width: 100%;
  padding: 10px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/*
Klasa .newsletter-form input[type=submit]

Styl dla przycisku submit w formularzu newslettera. Ustawia kolor tła, kolor tekstu, usuwa obramowanie i zmienia kursor na wskaźnik. Zawiera także styl dla stanu :hover, zmieniając odcień koloru tła.

Markup:
<input type="submit" value="Przykładowy tekst">

Style guide: 5.2 
*/
.newsletter-form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.newsletter-form input[type=submit]:hover {
  background-color: #45a049;
}

/* 
Klasa .hamburger-menu

Styl dla przycisku menu hamburgerowego. Domyślnie ukryty (display: none). Zmienia kursor na wskaźnik, aby wskazać interaktywność. Ustawia również margines. Zazwyczaj używany w responsywnym designie, widoczny tylko na urządzeniach mobilnych.

Markup:
<div class="hamburger-menu">
  <span></span>
  <span></span>
  <span></span>
</div>

Style guide: 6.0 
*/
.hamburger-menu {
  display: none;
  cursor: pointer;
  margin: 1em;
}

/* 
Klasa .hamburger-menu span

Styl dla poszczególnych pasków w przycisku menu hamburgerowego. Ustawia szerokość, wysokość, margines dolny oraz kolor tła każdego paska.

Markup:
<div class="hamburger-menu">
  <span></span>
  <span></span>
  <span></span>
</div>
 
Style guide: 6.1 
*/
.hamburger-menu span {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  background-color: white;
}

/* 
Klasa .navbar-logo
 
Styl dla logo wewnątrz navbara. Ustawia wysokość na 100% paska nawigacji, aby logo było w pełni widoczne i dobrze wyśrodkowane.

Markup:
<div class="navbar-logo">
  <img src="img/logo-ostateczne.png" alt="Logo">
</div>

Style guide: 7.0 
*/
.navbar-logo {
  height: 100%;
}

/* 
Klasy .navbar-logo img

Styl dla obrazka logo w navbarze. Ustawia wysokość na 100% kontenera logo, a szerokość na auto, aby zachować proporcje obrazka.

Markup:
<img src="img/logo-ostateczne.png" alt="Logo">

Style guide: 7.1 
*/
.navbar-logo img {
  height: 100%;
  width: auto;
}

.social-media a {
  margin: 0 10px;
  display: inline-block;
}

.social-media img {
  width: 24px;
  height: auto;
}

/* 
Klasa .gallery

Styl dla kontenera galerii. Wykorzystuje grid do tworzenia responsywnego układu obrazów. Definiuje kolumny z dynamiczną szerokością, które dopasowują się do dostępnej przestrzeni, oraz ustawia odstępy między elementami i padding.

Markup:
<div class="gallery">
  <div class="gallery-item">
    <img src="img/gallery-f1-race.png" alt="Wyścig F1">
    <div class="gallery-item-text">Wyścig F1</div>
  </div>
</div>

Style guide: 8.0 
*/
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}

/* 
Klasa .gallery-item

Styl dla poszczególnych elementów galerii. Ustawia pozycję elementu, ukrywa nadmiar treści i dodaje cień dookoła. Pozwala na tworzenie spójnego i atrakcyjnego wyglądu dla każdego obrazu.

Markup:
<div class="gallery-item">
  <img src="img/gallery-f1-race.png" alt="Wyścig F1">
  <div class="gallery-item-text">Wyścig F1</div>
</div>

Style guide: 8.1 
*/
.gallery-item {
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.726);
}

/*
Klasa .gallery-item img

Styl dla obrazów wewnątrz elementów galerii. Ustawia szerokość na 100%, wysokość na auto oraz dodaje płynną transformację dla efektu powiększenia przy najechaniu.

Markup:
<img src="img/fans-meetup.png" alt="Testy">

Style guide: 8.2 
*/
.gallery-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  display: block;
}

/*
Klasa .gallery-item-text

Styl dla tekstu wyświetlanego na obrazach w galerii. Ustawia pozycję absolutną tekstu, dodaje tło i stylizuje tekst. Zapewnia czytelność tekstu na zróżnicowanym tle obrazów.

Markup:
<div class="gallery-item-text">Zdjęcia ze spotkania z fanami</div>

Style guide: 8.3 
*/
.gallery-item-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-size: 14px;
}

/*
Klasa .gallery-item:hover img
 
Styl dla efektu najechania na element galerii. Powiększa obraz wewnątrz elementu galerii, tworząc efekt wizualnego wyróżnienia wybranego obrazu.

Markup:
<div class="gallery-item">
  <img src="img/fans-meetup.png" alt="Testy">
  <div class="gallery-item-text">Zdjęcia ze spotkania z fanami</div>
</div>

Style guide: 8.4 
*/
.gallery-item:hover img {
  transform: scale(1.05);
}

/*
Klasa .image-row

Styl dla rzędu obrazów. Używa Flexbox do rozmieszczenia obrazów równomiernie. Obejmuje właściwości justowania i wyrównania, a także określa odstępy między elementami.

Markup:
<div class="image-row">
  <div class="image-container">
    <img class="image-row-item" src="img/F1_race.png" alt="F1">
    <div class="image-text">F1 Race</div>
  </div>
</div>

Style guide: 9.0 
*/
.image-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

/* 
Klasa .image-container

Styl dla kontenera obrazu w rzędzie obrazów. Ustawia pozycję elementu oraz szerokość. Jest podstawą do umieszczania obrazów i tekstu w obrębie kontenera.

Markup:
<div class="image-container">
  <img class="image-row-item" src="img/F1_race.png" alt="F1">
  <div class="image-text">F1 Race</div>
</div>

 Style guide: 9.1 
*/
.image-container {
  position: relative;
  width: 100%;
}

/* 
Klasa .image-row-item

Styl dla poszczególnych obrazów w rzędzie obrazów. Ustawia szerokość, wysokość, dopasowanie obiektu i dodaje płynną transformację dla efektu powiększenia.

Markup:
<img class="image-row-item" src="img/moto_gp.png" alt="MotoGP race">

Style guide: 9.2 
*/
.image-row-item {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.image-row-item:hover {
  transform: scale(1.05);
}

/* 
Klasa .image-text
 
Styl dla tekstu wyświetlanego na obrazach w rzędzie obrazów. Ustawia pozycję absolutną tekstu, dodaje tło, stylizuje tekst oraz dodaje płynną zmianę przezroczystości przy najechaniu.

Markup:
<div class="image-text">MotoGP Race</div>

Style guide: 9.3 
*/
.image-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.image-container:hover .image-text {
  opacity: 1;
}

/*
Klasa .slider
 
Styl dla głównego kontenera slidera. Ustawia pozycję, maksymalną szerokość, automatyczne marginesy i ukrywa nadmiar treści. Jest podstawą dla prezentacji slajdów.

Markup:
<div class="slider">
  <div class="slides">
    <div class="slide" id="slide1">
      <img src="img/fans1.png" alt="Festiwal">
      <div class="slide-text">Festiwal motoryzacyjny</div>
    </div>
    <div class="slide" id="slide2">
      <img src="img/fans2.png" alt="Fani">
      <div class="slide-text">Fani</div>
    </div>
    <div class="slide" id="slide3">
      <img src="img/fans3.png" alt="Zlot">
      <div class="slide-text">Zlot motoryzacyjny</div>
    </div>
  </div>
  <a class="prev"</a>
  <a class="next"</a>
</div>

Style guide: 10.0 
*/
.slider {
  position: relative;
  max-width: 700px;
  margin: auto;
  overflow: hidden;
}

/* 
Klasa .slides

Styl dla kontenera zawierającego slajdy. Używa Flexbox do liniowego rozmieszczenia slajdów.

Markup:
<div class="slides">
  <div class="slide" id="slide1">
    <img src="img/fans1.png" alt="Festiwal">
    <div class="slide-text">Festiwal motoryzacyjny</div>
  </div>
</div>

Style guide: 10.1 
*/
.slides {
  display: flex;
}

/* 
Klasa .slide

Styl dla pojedynczego slajdu wewnątrz slidera. Ustawia minimalną szerokość na 100% i dodaje płynną transformację dla animacji przejścia.

Markup:
<div class="slide" id="slide1">
  <img src="img/fans1.png" alt="Festiwal">
  <div class="slide-text">Festiwal motoryzacyjny</div>
</div>

Style guide: 10.2 
*/
.slide {
  min-width: 100%;
  transition: ease 0.5s;
}

/* 
Klasa .slide img
 
Styl dla obrazu w slajdzie. Ustawia szerokość na 100%, wysokość na auto i dodaje płynną transformację dla efektu powiększenia obrazu.

Markup:
<img src="img/fans1.png" alt="Festiwal">

Style guide: 10.3 
*/
.slide img {
  width: 100%;
  height: auto;
  transition: transform 0.4s ease;
}

.slide img:hover {
  transform: scale(1.05);
}


/* 
Klasa .slide-text

Styl dla tekstu na slajdzie. Ustawia pozycję absolutną, dodaje tło i stylizuje tekst.

Markup:
<div class="slide-text">Kibice na Rajdzie Polski</div>
 
Style guide: 10.4 
*/
.slide-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

/* 
Klasa .prev, .next

Styl dla przycisków nawigacji (poprzedni/następny). Ustawia pozycję, stylizuje wygląd i dodaje efekty przejścia. Zawiera także stan :hover dla lepszej widoczności.

Markup:
<a class="prev"</a>
<a class="next"</a>
 
Style guide: 10.5 
*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* 
Klasa .dots-container

Styl dla kontenera z kropkami nawigacyjnymi. Ustawia wyrównanie tekstu na środek.

Markup:
<div class="dots-container">
  <span class="dot" ></span>
  <span class="dot" ></span>
  <span class="dot" ></span>
  <span class="dot" ></span>
  <span class="dot" ></span>
</div>

Style guide: 10.6 
*/
.dots-container {
  text-align: center;
}

/*
Klasa .dot
 
Styl dla poszczególnych kropek nawigacyjnych. Ustawia kursor, wymiary, marginesy, kolor tła, zaokrąglenie oraz dodaje cień i płynną zmianę koloru tła. Zawiera także stan :hover i .active dla lepszej interakcji użytkownika.

Markup:
<span class="dot"></span>

Style guide: 10.7 
*/
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.active, .dot:hover {
  background-color: #717171;
}

/*
Klasa .accordion
 
Styl główny dla komponentu akordeonu. Ustawia padding górny i dolny oraz szerokość. Jest to kontener główny, w którym będą umieszczone wszystkie elementy akordeonu.

Markup:
<div class="accordion">
  <div class="tab">
    <button class="tab-label">Aktualności ze Świata Motorsportu</button>
    <div class="tab-content">
      <p>...</p>
    </div>
  </div>
</div>

Style guide: 11.0 
*/
.accordion {
  padding-top: 90px;
  padding-bottom: 40px;
  width: 100%;
}

/* 
Klasa .tab

Styl dla pojedynczego tabu w akordeonie. Ustawia margines dolny, oddzielając poszczególne taby od siebie.

Markup:
<div class="tab">
  <button class="tab-label">Aktualności ze Świata Motorsportu</button>
  <div class="tab-content">
    <p>...</p>
  </div>
</div>

Style guide: 11.1 
*/
.tab {
  margin-bottom: 1px;
}

/* 
Klasa .tab-label

Styl dla etykiety tabu w akordeonie. Jest klikalna (cursor: pointer) i ma wyróżnioną typografię. Zawiera także efekt :hover dla lepszej interakcji użytkownika.

Markup:
<button class="tab-label">Aktualności ze Świata Motorsportu</button>

Style guide: 11.2 
*/
.tab-label {
  display: block;
  padding-top: 10px;
  font-weight: bold;
  font-size: xx-large;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.tab-label:hover {
  background: #ddd;
}


/*
Klasy .tab-content

Styl dla treści tabu, która jest widoczna tylko gdy przypisany checkbox jest zaznaczony. Używa maksymalnej wysokości i przejścia dla płynnego rozwijania treści.

Markup:
<input type="checkbox" checked> <div class="tab-content">...</div>
 
Style guide: 11.3 
*/
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}

/* 
Klasa .tab input

Styl dla ukrytego checkboxa sterującego widocznością treści tabu. Pozycjonowany absolutnie i niewidoczny, służy jako przełącznik dla zawartości tabu.

Markup:
<input type="checkbox">

Style guide: 11.4 
*/
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* 
Klasa .tab-content

Styl dla domyślnie ukrytej treści tabu. Ustawia maksymalną wysokość na 0, aby schować treść, i dodaje efekt przejścia.

Markup:
<div class="tab-content">...</div>

Style guide: 11.5 
*/
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: white;
  transition: max-height 0.3s ease;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 
Klasa .tab button

Styl dla przycisku wewnątrz tabu. Ustawia szerokość, padding, tło, border oraz właściwości tekstowe. Zawiera także efekt :hover.

Markup:
<button>...</button>
 
Style guide: 11.6 
*/
.tab button {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f7f7f7;
  border: none;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.tab button:hover {
  background: #ddd;
}

/* 
Klasa .responsive-table

Styl główny dla kontenera responsywnej tabeli. Ustawia szerokość na 100% i pozwala na przewijanie poziome, gdy zawartość przekracza szerokość kontenera.

Markup:
<div class="responsive-table">
    <h3>Wstęp</h3>
    <p>
      Najszybsze okrążenia w historii wyścigów to przyciągające uwagę osiągnięcia, które stanowią świadectwo zarówno
      umiejętności kierowców, jak i zaawansowania technicznego ich pojazdów. Kiedy kierowca i maszyna pracują w pełnej
      harmonii, możliwe jest przekroczenie granic tego, co uważano za możliwe na danym torze. Rekordowe czasy okrążeń
      są
      odzwierciedleniem intensywnego przygotowania, precyzji i odwagi, jak również postępu w inżynierii i
      aerodynamice.
      Te momenty, kiedy wszystko się zgadza, przechodzą do historii sportów motorowych, inspirując zarówno fanów, jak
      i
      przyszłe pokolenia kierowców. Dlatego z ogromną ekscytacją przedstawiamy Wam tabelę najlepszych rezultatów,
      która
      nie tylko oddaje hołd najszybszym okrążeniom, ale również celebruje ducha rywalizacji i nieustannego dążenia do
      perfekcji.</p>
    <h4>Najlepsze Czasy Okrążeń</h4>
    <table>
      <thead>
      <tr>
        <th>Czas Okrążenia</th>
        <th>Nazwa Toru</th>
        <th>Kierowca</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td data-label="Czas Okrążenia">1:10.166</td>
        <td data-label="Nazwa Toru">Circuit de Monaco</td>
        <td data-label="Kierowca">Lewis Hamilton</td>
      </tr>
      <tr>
        <td data-label="Czas Okrążenia">1:33.401</td>
        <td data-label="Nazwa Toru">Silverstone Circuit</td>
        <td data-label="Kierowca">Mark Webber</td>
      </tr>
      <tr>
        <td data-label="Czas Okrążenia">1:30.983</td>
        <td data-label="Nazwa Toru">Suzuka International Racing Course</td>
        <td data-label="Kierowca">Lewis Hamilton</td>
      </tr>
      <tr>
        <td data-label="Czas Okrążenia">1:10.166</td>
        <td data-label="Nazwa Toru">Circuit de Monaco</td>
        <td data-label="Kierowca">Lewis Hamilton</td>
      </tr>
      <tr>
        <td data-label="Czas Okrążenia">1:33.401</td>
        <td data-label="Nazwa Toru">Silverstone Circuit</td>
        <td data-label="Kierowca">Mark Webber</td>
      </tr>
      <tr>
        <td data-label="Czas Okrążenia">1:30.983</td>
        <td data-label="Nazwa Toru">Suzuka International Racing Course</td>
        <td data-label="Kierowca">Lewis Hamilton</td>
      </tr>
      </tbody>
    </table>
  </div>

Style guide: 12.0 
*/
.responsive-table {
  width: 100%;
  overflow-x: auto;
}

.responsive-table h4 {
  text-align: center;
  margin-bottom: 1em;
}

.responsive-table table {
  width: 100%;
  border-collapse: collapse;
}

.responsive-table th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

.responsive-table th {
  background-color: #4CAF50;
  color: white;
}

.responsive-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

/*
Klasa .contact-form-container

Styl dla kontenera formularza kontaktowego. Ustawia szerokość, maksymalną szerokość, automatyczny margines, padding, cień, kolor tła oraz właściwości box-sizing.
 
Markup:
<div class="contact-form">
  <div class="contact-form-container">
    <form action="#" method="get">
      <h1>Skontauj się z nami</h1>
      <div class="input-group">
        <label for="imie">Imię i nazwisko</label>
        <input type="text" name="imie" id="imie" required placeholder="Twoje imię i nazwisko">
      </div>
      <div class="input-group">
        <label for="email">Adres email</label>
        <input type="email" name="email" id="email" placeholder="Twój adres email" required>
      </div>
      <div class="input-group">
        <label for="data">Podaj datę</label>
        <input type="date" name="data" id="data">
      </div>
      <div class="input-group">
        <label for="telefon">Numer telefonu</label>
        <input type="tel" name="telefon" id="telefon" pattern="+48-[0-9]{3}-[0-9]{3}-[0-9]{3}" required
               placeholder="+48-XXX-XXX-XXX">
      </div>
      <div class="input-group">
        <label for="kraj">Kraj</label>
        <select name="kraj" id="kraj">
          <option value="Polska">Polska</option>
          <option value="Niemcy">Niemcy</option>
          <option value="Czechy">Czechy</option>
          <option value="Słowacja">Słowacja</option>
          <option value="Ukraina">Ukraina</option>
          <option value="Białoruś">Białoruś</option>
          <option value="Litwa">Litwa</option>
          <option value="Łotwa">Łotwa</option>
          <option value="Estonia">Estonia</option>
          <option value="Rosja">Rosja</option>
        </select>
      </div>
      <p>Temat twojej wiadomości</p>
      <div class="checkbox-custom">
        <input type="radio" id="noweTresci" name="group" value="noweTresci">
        <label for="noweTresci">Propozycja nowych treści</label>
      </div>
      <div class="checkbox-custom">
        <input type="radio" id="wspolpraca" name="group" value="wspolpraca">
        <label for="wspolpraca">Współpraca reklamowa</label>
      </div>
      <div class="checkbox-custom">
        <input type="radio" id="inny" name="group" value="inny">
        <label for="inny">Inny</label>
      </div>
      <div class="input-group">
        <label for="wiadomosc">Co chciałbyś nam przekazać</label>
        <textarea name="wiadomosc" id="wiadomosc" placeholder="Twoja wiadomość ..."></textarea>
      </div>
      <div class="checkbox-custom">
        <input type="checkbox" name="akceptacja" id="akceptacja" checked disabled>
        <label for="akceptacja">Akceptuję regulamin oraz polityke prywatności.</label>
      </div>
      <div class="checkbox-custom">
        <input type="checkbox" name="akceptacja1" id="akceptacja1" checked>
        <label for="akceptacja1">Chcę otrzymywać dodatkowe informacje o MotoBlogu.</label>
      </div>
      <div class="input-group">
        <button type="submit">Send message</button>
      </div>
    </form>
  </div>
</div>
 
Style guide: 13.0 
*/
.contact-form-container {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;
}

/*
Klasa .contact-form

Styl dla formularza kontaktowego. Ustawia flexbox z kierunkiem kolumnowym, centruje zawartość, dopasowuje elementy i ustawia minimalną wysokość na 100vh. Dodaje również padding górny i dolny.

Markup:
<div class="contact-form">
    <form action="#" method="get">
      <h1>Skontauj się z nami</h1>
      <div class="input-group">
        <label for="imie">Imię i nazwisko</label>
        <input type="text" name="imie" id="imie" required placeholder="Twoje imię i nazwisko">
      </div>
      <div class="input-group">
        <label for="email">Adres email</label>
        <input type="email" name="email" id="email" placeholder="Twój adres email" required>
      </div>
      <div class="input-group">
        <label for="data">Podaj datę</label>
        <input type="date" name="data" id="data">
      </div>
      <div class="input-group">
        <label for="telefon">Numer telefonu</label>
        <input type="tel" name="telefon" id="telefon" pattern="+48-[0-9]{3}-[0-9]{3}-[0-9]{3}" required
               placeholder="+48-XXX-XXX-XXX">
      </div>
      <div class="input-group">
        <label for="kraj">Kraj</label>
        <select name="kraj" id="kraj">
          <option value="Polska">Polska</option>
          <option value="Niemcy">Niemcy</option>
          <option value="Czechy">Czechy</option>
          <option value="Słowacja">Słowacja</option>
          <option value="Ukraina">Ukraina</option>
          <option value="Białoruś">Białoruś</option>
          <option value="Litwa">Litwa</option>
          <option value="Łotwa">Łotwa</option>
          <option value="Estonia">Estonia</option>
          <option value="Rosja">Rosja</option>
        </select>
      </div>
      <p>Temat twojej wiadomości</p>
      <div class="checkbox-custom">
        <input type="radio" id="noweTresci" name="group" value="noweTresci">
        <label for="noweTresci">Propozycja nowych treści</label>
      </div>
      <div class="checkbox-custom">
        <input type="radio" id="wspolpraca" name="group" value="wspolpraca">
        <label for="wspolpraca">Współpraca reklamowa</label>
      </div>
      <div class="checkbox-custom">
        <input type="radio" id="inny" name="group" value="inny">
        <label for="inny">Inny</label>
      </div>
      <div class="input-group">
        <label for="wiadomosc">Co chciałbyś nam przekazać</label>
        <textarea name="wiadomosc" id="wiadomosc" placeholder="Twoja wiadomość ..."></textarea>
      </div>
      <div class="checkbox-custom">
        <input type="checkbox" name="akceptacja" id="akceptacja" checked disabled>
        <label for="akceptacja">Akceptuję regulamin oraz polityke prywatności.</label>
      </div>
      <div class="checkbox-custom">
        <input type="checkbox" name="akceptacja1" id="akceptacja1" checked>
        <label for="akceptacja1">Chcę otrzymywać dodatkowe informacje o MotoBlogu.</label>
      </div>
      <div class="input-group">
        <button type="submit">Send message</button>
      </div>
    </form>
  </div>

Style guide: 13.1
*/
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px 0;
}

/* 
IKlasa .input-group

Styl dla grupy elementów wejściowych w formularzu. Ustawia margines dolny.Styl dla elementów wejściowych w grupie (input, textarea, select). Ustawia szerokość, padding, margines górny, obramowanie, zaokrąglenie rogów oraz rodzinę czcionek. Ustawia margines dolny

Markup:
<div class="input-group">
  <label for="imie">Imię i nazwisko</label>
  <input type="text" name="imie" id="imie" required placeholder="Twoje imię i nazwisko">
</div>
<div class="input-group">
  <label for="email">Adres email</label>
  <input type="email" name="email" id="email" placeholder="Twój adres email" required>
</div>
<div class="input-group">
  <label for="data">Podaj datę</label>
  <input type="date" name="data" id="data">
</div>
<div class="input-group">
  <label for="telefon">Numer telefonu</label>
  <input type="tel" name="telefon" id="telefon" pattern="+48-[0-9]{3}-[0-9]{3}-[0-9]{3}" required placeholder="+48-XXX-XXX-XXX">
</div>
<div class="input-group">
  <label for="kraj">Kraj</label>
  <select name="kraj" id="kraj">
    <option value="Polska">Polska</option>
      <option value="Niemcy">Niemcy</option>
      <option value="Czechy">Czechy</option>
      <option value="Słowacja">Słowacja</option>
      <option value="Ukraina">Ukraina</option>
      <option value="Białoruś">Białoruś</option>
      <option value="Litwa">Litwa</option>
      <option value="Łotwa">Łotwa</option>
      <option value="Estonia">Estonia</option>
      <option value="Rosja">Rosja</option>
  </select>
</div>

Style guide: 13.2 
*/

.input-group input,
.input-group textarea,
.input-group select {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

.input-group textarea {
  resize: none;
  height: 100px;
}

/*
Klasa .checkbox-custom

Styl dla niestandardowego checkboxa w formularzu. Ustawia flexbox dla wyrównania elementów i określa margines dolny.
 
Markup:
<div class="checkbox-custom">
  <input type="radio" id="noweTresci" name="group" value="noweTresci">
  <label for="noweTresci">Propozycja nowych treści</label>
</div>
 
 Style guide: 13.3 
*/

.checkbox-custom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.checkbox-custom input[type="checkbox"], input[type="radio"] {
  margin-right: 10px;
}

/*  
Klasa .checkbox-custom button

Styl dla przycisku typu submit w formularzu. Ustawia szerokość, padding, kolor tła, kolor tekstu, brak obramowania, zaokrąglenie rogów, kursor oraz margines górny. Zawiera także efekt :hover.

Markup:
<div class="input-group">
  <button type="submit">Send message</button>
</div>

 Style guide: 13.4 
*/

.input-group button[type="submit"] {
  width: 100%;
  padding: 10px 0;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.input-group button[type="submit"]:hover {
  background-color: #45a049;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

/* 
Klasa .team

Styl dla sekcji zespołu. Używa Flexbox do rozmieszczenia profili członków zespołu. Stosuje 'flex-wrap' do zawijania elementów i centruje je.

Markup:
<div class="team">...</div>

Style guide: 14.0 
*/

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* 
Klasa .team-member

Styl dla poszczególnego członka zespołu. Ustawia bazę i maksymalną szerokość, używa Flexbox z kierunkiem kolumnowym, centruje zawartość i dodaje cień oraz tło. Zawiera także padding i margines.

Markup:
<div class="team-member">
  <img src="img/female-editor.png" alt="Wiktoria Nowak">
  <h2>Wiktoria Nowak</h2>
  <p>Wiktoria jest doświadczonym redaktorem Motobloga, znana ze swojej pasji do motoryzacji i szczegółowej wiedzy
        technicznej. Ma długie, falowane blond włosy i często nosi okulary przeciwsłoneczne w kształcie awiatorów. Jej
        styl ubierania jest elegancki, ale funkcjonalny, idealny do pracy zarówno w biurze, jak i na torze wyścigowym.
        Zawsze uśmiechnięta, Wiktoria jest dynamiczna i pełna energii, co widać w jej entuzjastycznym podejściu do
        każdego tematu motoryzacyjnego.</p>
</div>

Style guide: 14.1 
*/
.team-member {
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 30px;
  margin: 1rem;
}

/* 
Klasa .team-member img

Styl dla zdjęcia członka zespołu. Ustawia szerokość, maksymalną szerokość, zaokrąglenie krawędzi i sposób dopasowania obrazu.

Markup:
<div class="team-member">
  <img src="img/female-editor.png" alt="Wiktoria Nowak">
  <h2>Wiktoria Nowak</h2>
  <p>Wiktoria jest doświadczonym redaktorem Motobloga, znana ze swojej pasji do motoryzacji i szczegółowej wiedzy
        technicznej. Ma długie, falowane blond włosy i często nosi okulary przeciwsłoneczne w kształcie awiatorów. Jej
        styl ubierania jest elegancki, ale funkcjonalny, idealny do pracy zarówno w biurze, jak i na torze wyścigowym.
        Zawsze uśmiechnięta, Wiktoria jest dynamiczna i pełna energii, co widać w jej entuzjastycznym podejściu do
        każdego tematu motoryzacyjnego.</p>
</div>
 
Style guide: 14.2 
*/
.team-member img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
}

/* 
Klasa .team-member h2
 
Styl dla nazwy członka zespołu. Ustawia margines.
 
Markup:
<div class="team-member">
  <h2>Wiktoria Nowak</h2>
</div>
 
Style guide: 14.3 
*/
.team-member h2 {
  margin: 0.5rem 0;
}

/* 
Klasa .purpose

Styl dla sekcji celu, opisującej misję lub cele zespołu. Ustawia tło, padding, margines i cień.

Markup:
  <div class="purpose">...</div>

Style guide: 14.4 
*/
.purpose {
  background: #ddd;
  padding: 30px;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 
KLasa .box

Styl dla ogólnego kontenera typu box. Może być użyty w różnych sekcjach. Ustawia tło, padding i cień.

Markup:
<div class="box">...</div>

Style guide: 15.0 
*/
.box {
  background-color: white;
  padding: 20px 30px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 
@media only screen and (max-width: 600px)

Styl dla urządzeń o maksymalnej szerokości ekranu 600px. W tym zapytaniu medialnym znajdują się różne reguły CSS służące do dostosowania wyglądu i układu elementów strony dla urządzeń mobilnych i mniejszych ekranów.

Style guide: 16.0 
*/
@media only screen and (max-width: 600px) {

  /* 
  Klasa .footer-style .social-media a
  
  Dostosowuje margines dolny linków mediów społecznościowych w stopce na urządzeniach mobilnych.
  
  Markup:
  <footer>
  <div class="social-media">
    <a href="https://www.facebook.com/" target="_blank">
      <img src="img/facebook-icon.png" alt="Facebook">
    </a>
  </div>
  </footer>

  Style guide: 16.1 
  */
  .footer-style .social-media a {
    margin-bottom: 5px;
  }

  /* 
  Klasa .responsive-table
  
  Dostosowuje tabelę dla ekranów o szerokości do 600px. Ukrywa wiersze nagłówka tabeli (thead), zmienia wyświetlanie wierszy ciała tabeli (tbody) na blokowe i dodaje margines oraz obramowanie.
  
  Markup:
  <table>...</table>
  
  Style guide: 16.2 
  */
  .responsive-table thead tr {
    display: none;
  }

  .responsive-table tbody tr {
    display: block;
    margin-bottom: 1em;
    border-bottom: 1px solid #ddd;
  }

  .responsive-table td {
    display: block;
    text-align: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px dotted #ddd;
  }

  .responsive-table td:before {
    content: attr(data-label);
    display: block;
    margin-bottom: 0.25em;
    font-weight: bold;
  }

  /* 
  Klasa .navbar-logo
  
  Ukrywa logo w nawigacji na urządzeniach mobilnych.
  
  Markup:
  <div class="navbar-logo">
    <img src="img/logo-ostateczne.png" alt="Logo">
  </div>
  
  Style guide: 16.3
  */
  .navbar-logo img {
    display: none;
  }

  /* 
  Klasa .slide-text
  
  Ukrywa tekst w slajdach karuzeli na urządzeniach mobilnych.
  
  Markup:
  <div class="slide-text">Fani</div>
   
  Style guide: 16.4 
  */
  .slide-text {
    display: none;
  }

  /* 
  Klasa .image-row
   
  Dostosowuje układ rzędu obrazów na urządzeniach mobilnych. Zmienia kierunek Flexbox na kolumnowy, co sprawia, że obrazy są wyświetlane jeden pod drugim.
  
  Markup:
  <div class="image-row">
    <div class="image-container">
      <img class="image-row-item" src="img/F1_race.png" alt="F1">
      <div class="image-text">F1 Race</div>
    </div>
    <div class="image-container">
      <img class="image-row-item" src="img/rally_race.png" alt="Rally race">
      <div class="image-text">Rally Race</div>
    </div>
  </div>
   
  Style guide: 16.5 
  */
  .image-row {
    flex-direction: column;
  }

  .image-container {
    width: 100%;
  }

  .image-row-item {
    width: 100%;
    height: auto;
  }

  .image-row img {
    max-width: 100%;
  }

  .image-text {
    display: block;
    opacity: 1;
  }

  /* 
  Klasa .color .tab-label
   
  Dostosowuje zakładki na urządzeniach mobilnych, zmieniając tło i dodając cień, by ułatwić rozróżnienie poszczególnych zakładek.
  
  Markup:
  <div class="color .tab-label">...</div>
  
  Style guide: 16.6 
  */
  .color .tab-label {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* 
  Klasa .gallery-item-text
   
  Dostosowuje rozmiar czcionki tekstu w elemencie galerii na urządzeniach mobilnych.
  
  Markup:
  <div class="gallery-item-text">Przykładowy tekst</div>
  
  Style guide: 16.7 
  */
  .gallery-item-text {
    font-size: 12px;
  }

  .gallery-item img {
    z-index: auto;
    position: relative;
  }

  /* 
  Klasa .hamburger-menu
  
  Styl dla menu hamburgerowego na urządzeniach mobilnych. Ustawia menu w lewym górnym rogu i wyświetla je jako rząd trzech linii.
  
  Markup:
  <div class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
  </div>
  
  Style guide: 16.8 
  */
  .hamburger-menu {
    display: inline-block;
    position: fixed;
    top: 1.2em;
    left: 1em;
    z-index: 9999;
    width: 35px;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
  }

  .hamburger-menu span {
    display: block;
    height: 3px;
    width: 100%;
    background: white;
  }

  /* 
  Klasa .navigation
   
  Styl dla nawigacji mobilnej. Zawiera reguły dotyczące pozycjonowania, koloru tła, przejścia, paddingu i indeksu warstw. Zmienia nawigację na menu typu off-canvas.
  
  Markup:
  <div class="navigation">
        <ul>
          <li><a href="#">Strona Główna</a></li>
          <li class="icon"><a href="#"><i class="fi fi-rr-home"></i></a></li>
          <li><a href="aboutus.html">O Nas</a></li>
          <li class="icon"><a href="aboutus.html"><i class="fi fi-rr-info"></i></a></li>
          <li><a href="contactus.html">Skontauj się z Nami</a></li>
          <li class="icon"><a href="contactus.html"><i class="fi fi-rr-envelope"></i></a></li>
          <li><a href="gallery.html">Galeria</a></li>
          <li class="icon"><a href="gallery.html"><i class="fi fi-rr-picture"></i></a></li>
          <li><a href="quiz.html">Quiz</a></li>
          <li class="icon"><a href="quiz.html"><i class="fi fi-rr-interrogation"></i></a></li>
        </ul>
        <div class="navbar-logo">
          <img src="img/logo-ostateczne.png" alt="Logo">
        </div>
      </div>
  
  Style guide: 16.9 
  */
  .navigation {
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .navigation ul {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    bottom: 0;
    margin: 0;
    left: -100%;
    width: 100%;
    background-color: #333;
    transition: left 0.3s;
    z-index: 999;
  }

  .navigation ul.active {
    left: 0;
  }

  .navigation ul li {
    display: none;
    padding: 10px 0;
  }

  .navigation ul li a {
    color: white;
    text-decoration: none;
    font-size: 2em;
  }
  
  .navigation .icon {
    display: inline-block;
  }

  main {
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
  }

  /* 
  Klasa .contact-form-container
   
  Dostosowuje padding kontenera formularza kontaktowego na stronie 'Contact Us' na urządzeniach mobilnych.
  
  Markup:
  <div class="contact-form-container">...</div>
  
  Style guide: 16.10 
  */
  .contact-form-container {
    padding: 20px 0;
  }

  /* 
  KLasa .popup-content
  
  Dostosowuje margines i szerokość treści popup na urządzeniach mobilnych.
  
  Markup:
  <div id="popup" class="popup">
  <div class="popup-content">
    <span class="close">&times;</span>
    <h2>Zapisz się na nasz newsletter!</h2>
    <p>Dołącz do naszej pasjonującej społeczności miłośników motoryzacji! Zapisując się do naszego newslettera,
      otrzymasz regularne aktualizacje pełne fascynujących treści, które każdy fan czterech kółek pokocha. Od
      ekskluzywnych recenzji najnowszych modeli samochodów, przez zapowiedzi najgorętszych wydarzeń motoryzacyjnych, aż
      po praktyczne porady i ciekawostki ze świata motoryzacji – nasz newsletter to Twoje źródło informacji, które
      pozwoli Ci być zawsze o krok przed innymi. Zapisz się już teraz, aby nie przegapić żadnych nowości i dołączyć do
      grona entuzjastów, którzy dzielą Twoją pasję. To tylko jeden klik – zapisz się, aby każdy dzień był pełen
      motoryzacyjnych inspiracji!</p>
    <form id="newsletter-form">
      <div class="form-grid">
        <label for="email"></label>
        <input type="email" id="email" name="email" placeholder="Twój adres email" required>
        <input type="submit" value="Zapisz się">
      </div>
    </form>
  </div>
  </div>
  
  Style guide: 16.11 
  */
  .popup-content {
    margin: 15% 10%;
    width: 80%;
  }

  .popup {
    padding-top: 80px;
  }

}

/* 
 @media (min-width: 600px)
 
 Styl dla urządzeń o minimalnej szerokości ekranu 600px. Zmienia układ członków zespołu na dwie kolumny, dostosowując ich szerokość i bazę flex.

 Style guide: 17.0 
*/

@media (min-width: 600px) {
  /* 
  Klasa .team-member
  
  Dostosowuje rozmiar poszczególnych profili członków zespołu na urządzeniach o szerokości ekranu co najmniej 600px. Ustawia dwa profile w rzędzie, z zachowaniem marginesów.
  
  Markup:
  <div class="team-member">
    <img src="img/female-editor.png" alt="Wiktoria Nowak">
    <h2>Wiktoria Nowak</h2>
    <p>Wiktoria jest doświadczonym redaktorem Motobloga, znana ze swojej pasji do motoryzacji i szczegółowej wiedzy
        technicznej. Ma długie, falowane blond włosy i często nosi okulary przeciwsłoneczne w kształcie awiatorów. Jej
        styl ubierania jest elegancki, ale funkcjonalny, idealny do pracy zarówno w biurze, jak i na torze wyścigowym.
        Zawsze uśmiechnięta, Wiktoria jest dynamiczna i pełna energii, co widać w jej entuzjastycznym podejściu do
        każdego tematu motoryzacyjnego.</p>
  </div>
  
  Style guide: 17.1
  */
  .team-member {
    flex-basis: calc(50% - 2rem);
    max-width: calc(50% - 2rem);
  }
}

/* 
@media (min-width: 900px)

Styl dla urządzeń o minimalnej szerokości ekranu 900px. Zmienia układ członków zespołu na trzy kolumny, dostosowując ich szerokość i bazę flex.
 
Style guide: 18.0 
*/
@media (min-width: 900px) {
  /* 
  Team Member - Min Width 900px
   
  Dostosowuje rozmiar poszczególnych profili członków zespołu na urządzeniach o szerokości ekranu co najmniej 900px. Ustawia trzy profile w rzędzie, z zachowaniem marginesów.
  
  Markup:
  <div class="team-member">
    <img src="img/female-editor.png" alt="Wiktoria Nowak">
    <h2>Wiktoria Nowak</h2>
    <p>Wiktoria jest doświadczonym redaktorem Motobloga, znana ze swojej pasji do motoryzacji i szczegółowej wiedzy
        technicznej. Ma długie, falowane blond włosy i często nosi okulary przeciwsłoneczne w kształcie awiatorów. Jej
        styl ubierania jest elegancki, ale funkcjonalny, idealny do pracy zarówno w biurze, jak i na torze wyścigowym.
        Zawsze uśmiechnięta, Wiktoria jest dynamiczna i pełna energii, co widać w jej entuzjastycznym podejściu do
        każdego tematu motoryzacyjnego.</p>
  </div>
  
  Style guide: 18.1 
  */
  .team-member {
    flex-basis: calc(33.333% - 2rem);
    max-width: calc(33.333% - 2rem);
  }
}

/* 
Color Background

Styl dla elementów z klasą .color. Ustawia jednolite tło o kolorze #f7f7f7. Może być stosowany do różnych elementów wymagających tego tła.

Markup:
<div class="color">...</div>

Style guide: Kolor
*/

.color {
  background-color: #f7f7f7;
}

/* 
Form Box

Styl dla kontenera formularza (form-box). Ustawia margines, tło, wyświetlanie Flexbox, kierunek kolumnowy, wyrównanie i centrowanie zawartości.

Markup:
<div class="form-box">...</div>

Style guide: 19.0 - Quiz
*/

.form-box {
  margin: 0;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 
Form Container

Styl dla kontenera formularza. Ustawia szerokość, maksymalną szerokość, cień, padding, tło, zaokrąglenie rogów, margines, wyświetlanie Flexbox, kierunek kolumnowy i odstęp między elementami.
 
Markup:
<div class="form-container">...</div>
 
Style guide: 19.1 - Quiz
*/
.form-container {
  width: 100%;
  max-width: 900px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  background-color: white;
  border-radius: 4px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* 
Form Container Headings

Styl dla nagłówków w kontenerze formularza. Ustawia padding z lewej strony i z góry oraz rozmiar czcionki.
 
Markup:
<div class="form-container">
  <h2>Quiz Motoryzacyjny</h2>
</div>

Style guide: 19.2 - Quiz
*/
.form-container h1, h2 {
  padding-left: 5px;
  font-size: 28px;
}

/*
Container Paragraph

Styl dla paragrafów w kontenerze formularza. Ustawia padding z lewej strony i rozmiar czcionki.

Markup:
<div class="form-container">
  <p>przykładowy tekst</p>
</div>

Style guide: 19.3 - Quiz
 */
.form-container p {
  padding-left: 5px;
  font-size: 20px;
}

/* 
Buttons Group

Styl dla grupy przycisków. Ustawia wyświetlanie Flexbox, szerokość, odstęp między przyciskami oraz padding.

Markup:
<div class="button-group">
  <button id="restart-quiz-btn" class="quiz-btn">Zagraj ponownie</button>
  <button id="back-to-start-btn" class="quiz-btn">Powrót do startu</button>
</div>

Style guide: 19.4 - Buttons Group
*/
.buttons-group {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hidden {
  display: none;
}

/* 
Correct Display

Styl dla poprawnie wyświetlanego elementu. Ustawia padding, font-weight oraz font-size.

Markup:
<div class="correct-display">Przykładowy tekst</div>

Style guide: 19.5 - Correct Display
*/
.correct-display {
  padding: 5px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 28px;
}

/* 
Quiz Buttons

Styl dla przycisków w quizie. Określa marginesy, padding, kolor tła, kolor tekstu, brak obramowania, zaokrąglenie rogu, kursor wskaźnika, przejście koloru tła, wyśrodkowanie oraz rodzaj czcionki. Przyciski są zaprojektowane do użycia w quizie, zwiększając interaktywność użytkownika.

Markup:
<button class="quiz-btn">Potwierdź odpowiedź</button>
<button id="confirm-answer-btn">Potwierdź odpowiedź</button>

Style guide: 19.6 - Quiz Buttons
*/
.quiz-btn, #confirm-answer-btn {
  margin-left: 5px;
  margin-top: 15px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: center;
  font-family: 'Poppins', sans-serif;
  width: 200px;
}

/* 
Answer Label

Styl dla etykiet odpowiedzi. Określa margines dolny i rozmiar czcionki. Etykiety są zaprojektowane do wyświetlania opcji odpowiedzi w quizie, ułatwiając użytkownikowi czytelność.

Markup:
<label class="answer-label">Opcja odpowiedzi</label>

Style guide: 19.7 - Answer Label
*/
.answer-label {
  margin-bottom: 10px;
  font-size: 20px;
}